<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgm.kube.account.mapper.SysPermissionMapper">
    <resultMap type="com.cgm.kube.account.entity.SysPermission" id="BaseMap">
    </resultMap>

    <!--根据请求查询有权限的角色列表-->
    <select id="listPermissionsByMethod" resultMap="BaseMap">
        SELECT
          id, code, path
        FROM sys_permission sp
        WHERE
          method = #{httpMethod}
    </select>

</mapper>